<mat-toolbar-row class="restaurant_header">
  <span>My Pizza</span>
  <!-- Menu items -->
  <span class="restaurant_header-space">
 <button mat-button [matMenuTriggerFor]="file">File</button>
<mat-menu #file="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
 <button mat-button class="example-icon" [matMenuTriggerFor]="edit">Edit</button>
<mat-menu #edit="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<button mat-button class="example-icon" [matMenuTriggerFor]="view">View</button>
<mat-menu #view="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
<button mat-button class="example-icon" [matMenuTriggerFor]="help">Help</button>
<mat-menu #help="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
</span>
</mat-toolbar-row>